*{
	margin: 0;
	padding: 0;
}

article aside details form
figcaption figure footer header hgroup
 menu nav section fieldset {
	display: block;
}

html{
	box-sizing: border-box;
}

*::before, *, *::after{
	box-sizing: inherit;
}

body{
	margin: 0;
	font-family: 'Quicksand', Arial;
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #102746;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: 'Quicksand', Arial;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	color: #433840;
}

.wrapper{
	max-width: 1143px;
	margin: auto;
	/*padding: 0 15px;*/
}

.wrapper-xl{
	max-width: 1820px;
	margin: auto;
	/*padding: 0 15px;*/
}

/*header start*/

.header-wrapper{
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.header-home, .header-menu{
	flex: 1;
	max-width: 300px;
}

.header-logo{
	width: 224px;
	margin-top: 15px;
}

.header-logo-top{
	font-family: Waiting for the Sunrise, Arial;
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 41px;
	color: #9A9A9A;
	text-align: center;
	
}

.header-logo-bottom{
	font-family: Quicksand, Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 10px;
	text-align: center;
	/*-webkit-text-stroke: 1px #FEA3AC;*/
    /*-webkit-text-fill-color: white;*/
    text-shadow: 0 0 2px #FEA3AC, 0 0 2px #FEA3AC, 0 0 2px #FEA3AC, 0 0 2px #FEA3AC, 0 0 2px #FEA3AC, 0 0 2px #FEA3AC;
    color: #fff;

}

.header-list{
	display: flex;
	justify-content: flex-start;
	font-size: 18px;
	line-height: 22px;
}

.header-menu > .header-list{
	justify-content: flex-end;

}

.header-item{
	list-style: none;
	margin-right: 30px;
}

.header-link{
	text-decoration: none;
	font-size: 18px;
	line-height: 22px;
	color: #433840;
}